<div class="bg-zinc-800">
  <div class="m-5 p-5 bg-zinc-700 rounded">
  <h1 class="text-white text-xl text-center">Welcome to Dino's Tech Blog!<br> Just sign up and start ask anything tech related, or just scroll through other posts and add a bit to each post. <br> Below is a few post that some users have already added to Dino's Tech Blog.</h1>
  </div>
{{#each post as |post|}}
  <div class="">
    <div class="m-5 p-1 rounded bg-gradient-to-r from-sky-500 to-sky-700">
      <h2 class="flex justify-between p-1">
        <a href="/post/{{post.id}}" class="text-xl">{{post.title}}</a>
        <p>Created by {{post.user.name}} on {{format_date post.date_created}}</p>
      </h2 class="">
      <p class="bg-sky-200 p-3">{{post.description}}</p>

    </div>
  </div>
{{/each}}
</div>